.pagination-content {
    display: inline-block;
    margin: 40px 0px;
    width: 100%;
}
.pagination-content li {
    list-style-type: none;
    float: left;
    color: #fff;
    background-color: #383a3e;
    padding: 5px;
    border-radius: 8px;
    margin-right: 5px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
.pagination-content li.selected {
    background-color: #525459;
} 
.pagination-content li:hover {
    opacity: 0.7;
}

.pagination-content li:first-child {
    padding: 5px 15px;
}
.pagination-content li:last-child {
    padding: 5px 15px;
}