.cardDetails {
    width: 300px;
    margin: 20px auto;
    text-align: center;
}
.boxTxtCD {
    border: #fff;
}
.lineRow {
    display: block;
    margin: 5px 0px;
}
.lineRow span {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
.lineRow p {
    color: #fff;
}
.tableTxtCD {
    border-collapse: collapse;
    border: 1px solid #cecece;
    display: inline-block;
    margin: auto;
    width: 100%;
}
.tableTxtCD tr {
    border-collapse: collapse;
    border: 1px solid #cecece;
    width: 100%;
}
.tableTxtCD th {
    border-collapse: collapse;
    border: 1px solid #cecece;
    color: #fff;
    padding: 10px 15px;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
}
.tableTxtCD td {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #cecece;
    color: #fff;
    padding: 10px 15px
}