* {box-sizing: border-box;}
.cardBox {
    display: block;
    float: left;
    border-radius: 8px;
    border: 1px solid #383a3e;
    margin: 2%;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    text-align: center;
    background-color: #383a3e;
    position: relative;
    width: 21%;
    min-height: 400px;
}
.imgCB {
    width: 100%;
    height: auto;
}
.textCB {
    padding: 15px;
    position: relative;
}
.statusP {
    position: absolute;
    color: #fff;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    top: 0;
    left: 0;
}
.statusPAlive {
    background-color: rgb(13 159 13);
}
.statusPDead {
    background-color: rgb(151, 10, 10);
}
.statusPUnk {
    background-color: rgb(104, 97, 97);
}
.badgeCB {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 13px;
    top: 5px;
    right: 5px;
    position: absolute;
}
.nameH2 {
    color: #fff;
    margin: 10px 0px 5px;
}
.infoCB {}
.titP {
    color: #fff;
    font-weight: 700;
    margin-bottom: 0px;
}
.textP {
    color: #fff;
    margin: 5px 0px;
}