* {box-sizing: border-box;}
.card-box {
    display: block;
    float: left;
    border-radius: 8px;
    border: 1px solid #383a3e;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    text-align: center;
    background-color: #383a3e;
    position: relative;
    width: 100%;
}
.card-box-image-character {
    width: 100%;
    height: auto;
}
.card-box-text-content {
    padding: 15px;
    position: relative;
}
.card-box-badge-status-alive {
    background-color: rgb(13 159 13);
}
.card-box-badge-status-dead {
    background-color: rgb(151, 10, 10);
}
.card-box-badge-status-unknown {
    background-color: rgb(104, 97, 97);
}
.card-box-badge-status {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 13px;
    top: 5px;
    right: 5px;
    position: absolute;
}
.card-box-name-character {
    color: #fff;
    margin: 10px 0px 5px;
    font-size: 1.5em;
}
.card-box-title-info {
    color: #fff;
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 1.2em;
}
.card-box-text-info {
    color: #fff;
    margin: 5px 0px;
    font-size: 1em;
}
.no-character-found {
    color: #fff;
    font-size: 20px;
}