form {
    display: inline-block;
    margin: auto;
}
#input-search {
    background-color: #fff;
    text-align: left;
}
.Mui-focused:after {
    border-bottom-width: 4px;
    border-bottom-color: #202328;
}
#input-search::placeholder {
    color: #000;
}
.input-search {
    width: 100%;
}